{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formns</title>
    <link rel="stylesheet" href="{% static 'css/estilo.principal.css'%}">
</head>
<body>
    <main>
        <article>
            <ul>
                {%for usuario in usuarios%}
                    <li>{{usuario.id}} - {{usuario.nome}}</li>
                {% endfor %}
            </ul>
        </article>
    </main>
</body>
</html>