{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lista</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css'%}">
    
</head>
<body>
    <main class= 'conteudo'>
        <article id = 'lista'>
            <ul>
                <p> lista</p>
                {% for pessoa in pessoas%}
                <li>{{ pessoa.id }} - {{ pessoa.username}}</li>
                {% endfor %}
            </ul>
        </article>
    </main>
</body>
</html>