{%load static%}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formns</title>
    <link rel="stylesheet" href="{% static 'css/estilo.principal.css'%}">
</head>
<body>
    <main>
        <article>
            <div class="forms">
                <img src="{% static 'img/ufc-logo-universidade-2.png'%}" alt="foto-ufc-logo">
                <form action="{%url 'login' %}" method="POST"> {% csrf_token %}
                    Seu nome:
                    <input type="text" placeholder="Seu nome" name="username">
                    <br>
                    <br>
                    Sua senha:
                    <input type="password" placeholder="Sua senha" name="senha">
                    <br>
                    <br>
                    <input id="enviar" type="submit" value= "Entrar">
                </form>
            </div>
        </article>
    </main>
</body>
</html>